{
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": ["source-map-support"]
}

